<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReMedi- Online Pharmacy</title>
    <link rel="stylesheet" href="css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Hero section -->
    <section class="header">
        <header>
            <nav>
                <div>
                <a href="#" class="logo"><img src="images/ReMedi.png" alt="logo"></a>
             </div>
            <div>
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="service.html">Services</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="cart-sect">
                    <ul>
                      <li>
                        <i class="fa fa-user-circle-o"></i>
                        <a href="login.html">Login</a>
                      </li>
                      <li>
                        <i class="fa fa-shopping-cart"></i>
                        <a href="cart.html">Cart</a>
                      </li>
                    </ul>
            </div>
            </nav>
          </header>
        <div class="text-box">
                <h1>Welcome to<br>ReMedi</h1>
                <p>Your solution<br>to buy medicine<br>anywhere anytime<br>within Dhaka city.</p>
                <a href="about.html" class="hero-btn">Visit Us to Learn More</a>
        </div>
    </section>

    <!-- products section -->
    <section class="Products">
        <h1>Our Products</h1>
        <p>You can see a glimpse of our products here</p>
        <div class="row">
            <div class="product-section">
                <div class="product-border">
                  <div class="product-img-center">
                      <img class="product-img" src="images/regmed.png">
                  </div>
                  <div>
                    <p class="product-name">
                      <a href="products.html">Regular Medicine</a>
                    </p>
                  </div>
                </div>
            </div>
            <div class="product-section">
                <div class="product-border">
                  <div class="product-img-center">
                      <img class="product-img" src="images/prescmed.png">
                  </div>
                  <div>
                    <p class="product-name">
                      <a href="products.html">Prescription Medicines</a>
                    </p>
                  </div>
                </div>
            </div>
            <div class="product-section">
                <div class="product-border">
                  <div class="product-img-center">
                      <img class="product-img" src="images/handwash.png">
                  </div>
                  <div>
                    <p class="product-name">
                      <a href="products.html">Other Products</a>
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services section -->
    <section class="services">
        <h1>Our Services</h1>
        <p>You can see a glimpse of our services here.</p>
        <div class="row">
            <div class="services-Col">
                <h3>Request A Medicine</h3>
                <p>Here you request via email to import medicine from outside the country.</p>
            </div>
            <div class="services-Col">
                <h3>24/7 Delivery</h3>
                <p>we provide round-the-clock delivery</p>
            </div>
            <div class="services-Col">
                <h3>Buy medicine from local pharmacies</h3>
                <p>Here you can buy medicines from local pharmacies in case we are stock out</p>
            </div>
        </div>
    </section>
    <!-- Testimonial section -->
    <div class="container">
    <section class="Testimonials">
        <h1>What Our Customers Say</h1>
        <p>This section will show you customer testimonials.</p>
        <div class="row">
            <div class="Testi-Col">
                <img src="images/ph1.png" alt="User1">
                <div>
                    <h3>Jane Smith</h3>
                    <p>Great service! Keep it up.</p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>

                </div>
            </div>
            <div class="Testi-Col">
                <img src="images/ph1.png" alt="User2">
                <div>
                    <h3>John Smith</h3>
                    <p>Delivered right on time! Thanks.</p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
            </div>
            <div class="Testi-Col">
                <img src="images/ph1.png" alt="User3">
                <div>
                    <h3>Jake Smith</h3>
                    <p>Super Helpful! Highly recommended.</p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </section>
    </div>
    <!-- Call to Action Section -->
    <section class="CalltoAction">
        <h1>Reach Out to Us for Further Queries:<br></h1>
        <a href="" class="hero-btn">Contact Us</a>
    </section>
    <!-- Footer -->
    <footer>
        <p><b>Made By:</b></p>
        <div>
        <div><p>Samia Alam Oishi (21101012)</p></div>
        <div><p>Zannatul Ferdaus Shawon (21101002)</p></div>
        <div><p>Riya (21101014)</p></div>
        </div>
        <p>&copy; 2023 Re-Medi</p>
    </footer>
    </body>
</html>