<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Products</title>
  <link rel="stylesheet" href="css\style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <nav>
        <div>
        <a href="#" class="logo"><img src="images/ReMedi.png" alt="logo"></a>
     </div>
    <div>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="products.html">Products</a></li>
        <li><a href="service.html">Services</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </div>
    <div class="cart-sect">
            <ul>
              <li>
                <i class="fa fa-user-circle-o"></i>
                <a href="login.html">Login</a>
              </li>
              <li>
                <i class="fa fa-shopping-cart"></i>
                <a href="cart.html">Cart</a>
              </li>
            </ul>
    </div>
    </nav>
</header>
<section class="banner">
  <div class="banner-content">
    <h1>Our Products</h1>
  </div>
</section>
<section class="Products">
  <h1>Regular Medicines</h1>
  <p>You can find over the counter medications in this section.</p>
  <div class="row">
      <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
                <img class="product-img" src="images/regmed.png">
            </div>
            <div>
              <p class="product-name">
                <a href="products.html">Acidity Medicines</a>
              </p>
            </div>
          </div>
      </div>
      <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
                <img class="product-img" src="images/prescmed.png">
            </div>
            <div>
              <p class="product-name">
                <a href="products.html">Fever Medicines</a>
              </p>
            </div>
          </div>
      </div>
      <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
                <img class="product-img" src="images/handwash.png">
            </div>
            <div>
              <p class="product-name">
                <a href="products.html">Cough Syrups</a>
              </p>
            </div>
          </div>
      </div>
  </div>
</section>
<section class="Products">
  <h1>Prescription Medicine</h1>
  <p>Some medicines cannot be bought without prescriptions.</p>
  <div class="row">
      <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
                <img class="product-img" src="images/regmed.png">
            </div>
            <div>
              <p class="product-name">
                <a href="products.html">Antibiotics</a>
              </p>
            </div>
          </div>
      </div>
      <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
                <img class="product-img" src="images/prescmed.png">
            </div>
            <div>
              <p class="product-name">
                <a href="products.html">Injections</a>
              </p>
            </div>
          </div>
      </div>
      <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
                <img class="product-img" src="images/handwash.png">
            </div>
            <div>
              <p class="product-name">
                <a href="products.html">Sedatives</a>
              </p>
            </div>
          </div>
      </div>
  </div>
</section>
<section class="Products">
  <h1>Other Items</h1>
  <p>We also keep other drug store items!</p>
  <div class="row">
      <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
                <img class="product-img" src="images/regmed.png">
            </div>
            <div>
              <p class="product-name">
                <a href="products.html">Femenine Products</a>
              </p>
            </div>
          </div>
      </div>
      <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
                <img class="product-img" src="images/prescmed.png">
            </div>
            <div>
              <p class="product-name">
                <a href="products.html">Hygience Products</a>
              </p>
            </div>
          </div>
      </div>
      <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
                <img class="product-img" src="images/handwash.png">
            </div>
            <div>
              <p class="product-name">
                <a href="products.html">Healthy Edibles</a>
              </p>
            </div>
          </div>
      </div>
  </div>
</section>
<footer>
    <p><b>Made By:</b></p>
    <div>
    <div><p>Samia Alam Oishi (21101012)</p></div>
    <div><p>Zannatul Ferdaus Shawon (21101002)</p></div>
    <div><p>Riya (21101014)</p></div>
    </div>
    <p>&copy; 2023 Re-Medi</p>
</footer>

</body>
</html>

